@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;

  /* custom theme variable untuk "new-container" */
  --new-container-center: true;
  --new-container-padding: 2rem;
  --new-container-2xl: 1100px;
  --new-container-center: true;
}

@layer utilities {
    .new-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--new-container-padding);
    padding-right: var(--new-container-padding);
    width: 100%;
    max-width: var(--new-container-2xl); /* SELALU max-width */
  }
}
